*.aps
*.log
*.err
*.tmp
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opendb
*.VC.db

# static library output (MSVC, GCC--from core components like Common)
*.lib
*.a

# compiler-generated sources (MSVC, GCC)
*.asm
*.s

# assembled linker objects (GCC)
*.o

Thumbs.db
/.vs
/bin
/build
/diagnostics/
/phone-logs/
/src/android/.gradle/
/src/android/build/
/src/android/app/.cxx/
/src/android/app/build/
*.apk
*.dnsp
*.dxci
*.nsp
*.xci
*.nro
*.perfopt.bak
/ui-*.xml
/phone-ui*.xml
/nxemu-nce-fps-test-ui.xml
/src/android/*.logcat.txt
/src/android/*logcat*.txt
/src/android/*.png
/src/android/*crash*.txt
/src/android/dropbox*.txt
/git.properties
/ipch
/modules
/src/nxemu-core/version.h
/src/nxemu-video/version.h
/src/nxemu-cpu/version.h
/src/nxemu-os/version.h
/src/nxemu-loader/version.h
/config/NxEmu.config
