<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x401000" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".NxEmuApplication"
        android:allowBackup="true"
        android:appCategory="game"
        android:enableOnBackInvokedCallback="true"
        android:hasFragileUserData="false"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true">
        <activity
            android:name=".EmulationActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".PerGameSettingsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".GameManagementActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".InputSettingsActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".HomeMenuActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.GAME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DriverManagerActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.NxEmu" />
    </application>
</manifest>

